body {
    font-family: 'Consolas', 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
    font-size: 1.5em;
}

select {
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}


p {
    font-size: 40px;
    color: rgb(105,105,105);
}


div {
    text-align:center;
}

#prefectures {
    width: 100px;
}

#city {
    width: 150px;
}

.integer_type {
    text-align: right;
    width: 80px;
}

.submit_type {
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
