body {
    font-family: 'Consolas', 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
    font-size: 1.5em;
}

select {
    font-family: 'Consolas', 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
    font-size: 1em;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

input {
    font-family: 'Consolas', 'Noto Sans JP', '游ゴシック', 'Hiragino Sans','Helvetica Neue', 'メイリオ', 'sans-serif';
    font-size: 28px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}


p {
    color: rgb(105,105,105);
}


div {
    text-align:center;
}

#prefectures {
    font-size: 1em;
    text-align: center;
    width: 6em;
    height: 1.5em;
}

#city {
    font-size: 1em;
    text-align: center;
    width: 12em;
    height: 1.5em;
}

.integer_type {
    text-align: right;
    width: 2em;
    height: 2.5em;
}

.submit_type {
    font-size: 1em;
    height: 1.5em;
    width: 4em;
    border: 1px;
    border-radius: 4px;
    box-sizing: border-box;
}
