<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>トップページ</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/index.css') }}"/>
    <script type=text/javascript src="{{ url_for('static', filename='js/country.js') }}"></script>
</head>
<body>
    <div>
        <h1>これは結露ができるかを判定するアプリだよ！</h1>
        <form action="/" method="post">
            <h2>都道府県と市区町村を選択してね！</h2>
            <p><b>都道府県</b></p>
            <!--onchangeはクリック時-->
                <select id="prefectures" name="prefectures" onchange="change()">
                </select>
            <p><b>市区町村</b></p>
                <select id="city" name="city">
                </select>
            <br/>
            <h2>部屋の温度と湿度を入力してね！</h2>
            <p><b>部屋の温度</b></p>
            <input name="temperature" class="integer_type" type="tel" pattern="^-?(0|[1-9][0-9]*)" placeholder="18" required><b class="b_integer">℃</b>
            <p><b>部屋の湿度</b></p>
                <input name="humidity" class="integer_type" type="tel" pattern="\d{1,2}" placeholder="40" required><b class="b_integer">%</b>
            <p>
                <input type="submit" value="送信">
            </p>
        </form>
    </div>

</body>
</html>